@import url(../../main.css);

.Footer {
    height: 200px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-top: 1px solid #11001a;
    margin: 0 auto;
    background-color: #dcc6e7;
}

.FooterText {
    font-size: 20px;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SocialLinks {
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.SocialLinks a {
    height: 100%;
    width: 10%;
    padding: 2%;
}

.SocialLinkIcon {
    height: 100%;
}

@media screen and (max-width: 1350px)
{
    .Footer {
        height: 150px;
    }
}

@media screen and (max-width: 910px)
{
    .Footer {
        height: 100px;
    }

    .FooterText {
        font-size: 18px;
    }
}